---
layout: default
---
<!--Nav bar-->
<header class="nav-container"></header>
<nav class="fixed-nav-bar">
    <ul>
        <li class="nav-item"><a class="nav-anchor" href="https://kmccurdy.github.io/digital-worker-inquiry/">Home</a>
        </li>
        <li class="nav-item"><a class="nav-anchor"
                href="https://kmccurdy.github.io/digital-worker-inquiry/#about">About</a></li>
        <li class="nav-item"><a class="nav-anchor"
                href="https://kmccurdy.github.io/digital-worker-inquiry/#schedule">Schedule</a></li>
        <li class="nav-item"><a class="nav-anchor"
                href="https://kmccurdy.github.io/digital-worker-inquiry/#speakers">Speakers</a></li>
        <li class="nav-item"><a class="nav-anchor"
                href="https://kmccurdy.github.io/digital-worker-inquiry/#committee">Committee</a></li>
        <li class="nav-item"><a class="nav-anchor" href="#">Projects</a></li>
    </ul>
</nav>
</header>

<section class="tone-light" id="project">
    <h1>Project Gallery</h1>
    <p>Gallery introduction.</p>
    <div class="items-container">
        {% for project in site.data.projects.project %}
        <div class="item-medium">
            <div class="project-container">
                <img class="project-image" src="images/projects/{{ project.name }}.png"
                    alt="Picture of {{ project.name }}">
                <h2>{{ project.name }}</h2>
                <br>
                <div class="bio-holder">
                    <p>{{ project.description }}</p>
                </div>
                {% if project.link %}
            <a class="person-link" href="{{ person.link }}" target="blank" rel="noreferrer">
            {% endif %}
              {{ project.name }}
            {% if person.link %}
            </a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Footer coming soon -->
<footer class="footer-tone">
    {% if site.data.organizers.group %}
    <p>
      {{ site.data.info.name_short }} is organized by the
      <a href="{{ site.data.organizers.group.link1 }}">{{ site.data.organizers.group.name1 }}</a> and the
      <a href="{{ site.data.organizers.group.link2 }}">{{ site.data.organizers.group.name2 }}</a>
    </p>
    {% endif %}
    <p>
      Website template made with love by <a href="https://lauzhack.com">LauzHack</a>.
    </p>
  </footer>